# Visual Exploration

#### You have a <a href = "https://docs.google.com/spreadsheets/d/1CYdbCfj0aF-bKNJ3lIPe6_rKkWT-IlCMXxNQtjkiD34/edit?usp=sharing">spreadsheet</a> that has the price of monthly cable bills, median income, and social security percentage increases. The data is from 1995 to 2022.

#### Create a line chart that hopefully reveals a trend between cable prices, median income and social security increases. Make the cable bill red; median income blue, and social security gray.

#### What would be your "thesis" based on your findings?

**Note about social security increases:**

Each year the U.S. government increases the amount of social security retired people receive. That increase is based on the annual inflation rate  and the political climate (or party in control). I have indexed the numbers so 1995 is 100, and each year after that the number reflects a percentage increase since 1995. So between 1995 at 100 and 1996 at 102.6 reflects a 2.6 percent increase. And between 1995 and 1997 reflects a 5.6 percent increase.

In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv("cable-bill-only - Sheet1.csv")
df_raw

,Avg. cable bill,Median household income,Social Security cost-of-living adjustment
0,22.35,NaN,100.0
1,23.28,NaN,102.6
2,26.31,NaN,105.6
3,27.88,NaN,107.8
4,28.94,NaN,109.2
5,31.22,NaN,111.9
6,33.75,NaN,115.8
7,36.47,NaN,118.9
8,38.95,NaN,120.5
9,41.04,NaN,123.0
10,43.04,NaN,126.4
11,43.26,NaN,131.6
12,47.27,NaN,135.9
13,49.65,NaN,139.0
14,52.37,NaN,147.1
15,54.44,NaN,147.1
16,57.46,NaN,147.1
17,61.63,NaN,152.4
18,69.18,NaN,155.0
19,71.45,NaN,157.3
20,78.42,NaN,159.0
21,150.98,NaN,159.0
22,168.49,NaN,159.3
23,199.99,NaN,161.3
24,210.84,NaN,164.1
25,217.42,NaN,165.7
26,231.10,NaN,167.0
27,251.48,NaN,172.9

In [3]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Avg. cable bill                            28 non-null     float64
 1   Median household income                    0 non-null      float64
 2   Social Security cost-of-living adjustment  28 non-null     float64
dtypes: float64(3)
memory usage: 800.0 bytes

In [20]:
df_raw.columns

Index(['Avg. cable bill', 'Median household income',
       'Social Security cost-of-living adjustment'],
      dtype='object')

In [21]:
df = df_raw[['Avg. cable bill', 'Median household income','Social Security cost-of-living adjustment']].copy()
df

KeyError: "['Year'] not in index"

In [6]:
df.drop(0).reset_index(drop = True)

,Avg. cable bill,Median household income,Social Security cost-of-living adjustment
0,23.28,NaN,102.6
1,26.31,NaN,105.6
2,27.88,NaN,107.8
3,28.94,NaN,109.2
4,31.22,NaN,111.9
5,33.75,NaN,115.8
6,36.47,NaN,118.9
7,38.95,NaN,120.5
8,41.04,NaN,123.0
9,43.04,NaN,126.4
10,43.26,NaN,131.6
11,47.27,NaN,135.9
12,49.65,NaN,139.0
13,52.37,NaN,147.1
14,54.44,NaN,147.1
15,57.46,NaN,147.1
16,61.63,NaN,152.4
17,69.18,NaN,155.0
18,71.45,NaN,157.3
19,78.42,NaN,159.0
20,150.98,NaN,159.0
21,168.49,NaN,159.3
22,199.99,NaN,161.3
23,210.84,NaN,164.1
24,217.42,NaN,165.7
25,231.10,NaN,167.0
26,251.48,NaN,172.9

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Avg. cable bill                            28 non-null     float64
 1   Median household income                    0 non-null      float64
 2   Social Security cost-of-living adjustment  28 non-null     float64
dtypes: float64(3)
memory usage: 800.0 bytes

In [8]:
df["Median household income"] = pd.to_numeric(df["Median household income"], errors = "coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Avg. cable bill                            28 non-null     float64
 1   Median household income                    0 non-null      float64
 2   Social Security cost-of-living adjustment  28 non-null     float64
dtypes: float64(3)
memory usage: 800.0 bytes

In [9]:
df["Social Security cost-of-living adjustment"] = pd.to_numeric(df["Social Security cost-of-living adjustment"], errors = "coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Avg. cable bill                            28 non-null     float64
 1   Median household income                    0 non-null      float64
 2   Social Security cost-of-living adjustment  28 non-null     float64
dtypes: float64(3)
memory usage: 800.0 bytes

In [10]:
df["Avg. cable bill"] = pd.to_numeric(df["Avg. cable bill"], errors = "coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Avg. cable bill                            28 non-null     float64
 1   Median household income                    0 non-null      float64
 2   Social Security cost-of-living adjustment  28 non-null     float64
dtypes: float64(3)
memory usage: 800.0 bytes

In [11]:
df

,Avg. cable bill,Median household income,Social Security cost-of-living adjustment
0,22.35,NaN,100.0
1,23.28,NaN,102.6
2,26.31,NaN,105.6
3,27.88,NaN,107.8
4,28.94,NaN,109.2
5,31.22,NaN,111.9
6,33.75,NaN,115.8
7,36.47,NaN,118.9
8,38.95,NaN,120.5
9,41.04,NaN,123.0
10,43.04,NaN,126.4
11,43.26,NaN,131.6
12,47.27,NaN,135.9
13,49.65,NaN,139.0
14,52.37,NaN,147.1
15,54.44,NaN,147.1
16,57.46,NaN,147.1
17,61.63,NaN,152.4
18,69.18,NaN,155.0
19,71.45,NaN,157.3
20,78.42,NaN,159.0
21,150.98,NaN,159.0
22,168.49,NaN,159.3
23,199.99,NaN,161.3
24,210.84,NaN,164.1
25,217.42,NaN,165.7
26,231.10,NaN,167.0
27,251.48,NaN,172.9

In [12]:
df.to_csv("cable-bill-only - Sheet1.csv" , index = False, encoding = "UTF8")

In [13]:
avg_cable = df["Avg. cable bill"].iat[1]
avg_cable

23.28

In [14]:
df["cable_pct_chg"] = \
((df["Avg. cable bill"] - avg_cable) / avg_cable) * 100

df

,Avg. cable bill,Median household income,Social Security cost-of-living adjustment,cable_pct_chg
0,22.35,NaN,100.0,-3.994845
1,23.28,NaN,102.6,0.000000
2,26.31,NaN,105.6,13.015464
3,27.88,NaN,107.8,19.759450
4,28.94,NaN,109.2,24.312715
5,31.22,NaN,111.9,34.106529
6,33.75,NaN,115.8,44.974227
7,36.47,NaN,118.9,56.658076
8,38.95,NaN,120.5,67.310997
9,41.04,NaN,123.0,76.288660
10,43.04,NaN,126.4,84.879725
11,43.26,NaN,131.6,85.824742
12,47.27,NaN,135.9,103.049828
13,49.65,NaN,139.0,113.273196
14,52.37,NaN,147.1,124.957045
15,54.44,NaN,147.1,133.848797
16,57.46,NaN,147.1,146.821306
17,61.63,NaN,152.4,164.733677
18,69.18,NaN,155.0,197.164948
19,71.45,NaN,157.3,206.915808
20,78.42,NaN,159.0,236.855670
21,150.98,NaN,159.0,548.539519
22,168.49,NaN,159.3,623.754296
23,199.99,NaN,161.3,759.063574
24,210.84,NaN,164.1,805.670103
25,217.42,NaN,165.7,833.934708
26,231.10,NaN,167.0,892.697595
27,251.48,NaN,172.9,980.240550

In [15]:
med_income = df["Median household income"].iat[1]
med_income

nan

In [16]:
df["medincome_pct_chg"] = \
((df["Median household income"] - med_income) / med_income) * 100

df

,Avg. cable bill,Median household income,Social Security cost-of-living adjustment,cable_pct_chg,medincome_pct_chg
0,22.35,NaN,100.0,-3.994845,NaN
1,23.28,NaN,102.6,0.000000,NaN
2,26.31,NaN,105.6,13.015464,NaN
3,27.88,NaN,107.8,19.759450,NaN
4,28.94,NaN,109.2,24.312715,NaN
5,31.22,NaN,111.9,34.106529,NaN
6,33.75,NaN,115.8,44.974227,NaN
7,36.47,NaN,118.9,56.658076,NaN
8,38.95,NaN,120.5,67.310997,NaN
9,41.04,NaN,123.0,76.288660,NaN
10,43.04,NaN,126.4,84.879725,NaN
11,43.26,NaN,131.6,85.824742,NaN
12,47.27,NaN,135.9,103.049828,NaN
13,49.65,NaN,139.0,113.273196,NaN
14,52.37,NaN,147.1,124.957045,NaN
15,54.44,NaN,147.1,133.848797,NaN
16,57.46,NaN,147.1,146.821306,NaN
17,61.63,NaN,152.4,164.733677,NaN
18,69.18,NaN,155.0,197.164948,NaN
19,71.45,NaN,157.3,206.915808,NaN
20,78.42,NaN,159.0,236.855670,NaN
21,150.98,NaN,159.0,548.539519,NaN
22,168.49,NaN,159.3,623.754296,NaN
23,199.99,NaN,161.3,759.063574,NaN
24,210.84,NaN,164.1,805.670103,NaN
25,217.42,NaN,165.7,833.934708,NaN
26,231.10,NaN,167.0,892.697595,NaN
27,251.48,NaN,172.9,980.240550,NaN

In [17]:
ss_cola = df["Social Security cost-of-living adjustment"].iat[1]
ss_cola

102.6

In [18]:
df["sscola_pct_chg"] = \
((df["Social Security cost-of-living adjustment"] - avg_cable) / avg_cable) * 100

df

,Avg. cable bill,Median household income,Social Security cost-of-living adjustment,cable_pct_chg,medincome_pct_chg,sscola_pct_chg
0,22.35,NaN,100.0,-3.994845,NaN,329.553265
1,23.28,NaN,102.6,0.000000,NaN,340.721649
2,26.31,NaN,105.6,13.015464,NaN,353.608247
3,27.88,NaN,107.8,19.759450,NaN,363.058419
4,28.94,NaN,109.2,24.312715,NaN,369.072165
5,31.22,NaN,111.9,34.106529,NaN,380.670103
6,33.75,NaN,115.8,44.974227,NaN,397.422680
7,36.47,NaN,118.9,56.658076,NaN,410.738832
8,38.95,NaN,120.5,67.310997,NaN,417.611684
9,41.04,NaN,123.0,76.288660,NaN,428.350515
10,43.04,NaN,126.4,84.879725,NaN,442.955326
11,43.26,NaN,131.6,85.824742,NaN,465.292096
12,47.27,NaN,135.9,103.049828,NaN,483.762887
13,49.65,NaN,139.0,113.273196,NaN,497.079038
14,52.37,NaN,147.1,124.957045,NaN,531.872852
15,54.44,NaN,147.1,133.848797,NaN,531.872852
16,57.46,NaN,147.1,146.821306,NaN,531.872852
17,61.63,NaN,152.4,164.733677,NaN,554.639175
18,69.18,NaN,155.0,197.164948,NaN,565.807560
19,71.45,NaN,157.3,206.915808,NaN,575.687285
20,78.42,NaN,159.0,236.855670,NaN,582.989691
21,150.98,NaN,159.0,548.539519,NaN,582.989691
22,168.49,NaN,159.3,623.754296,NaN,584.278351
23,199.99,NaN,161.3,759.063574,NaN,592.869416
24,210.84,NaN,164.1,805.670103,NaN,604.896907
25,217.42,NaN,165.7,833.934708,NaN,611.769759
26,231.10,NaN,167.0,892.697595,NaN,617.353952
27,251.48,NaN,172.9,980.240550,NaN,642.697595

In [23]:
df.plot(x= "Avg. cable bill",
       y = ["cable_pct_chg", "medincome_pct_chg","sscola_pct_chg"])

KeyError: "None of [Index(['cable_pct_chg', 'medincome_pct_chg', 'sscola_pct_chg'], dtype='object')] are in the [columns]"

In [ ]:
df.plot(x = "Avg. cable bill",
       y = ["cable_pct_chg", "medincome_pct_chg","sscola_pct_chg"],
       title = "Trend: Cable; Median Income; Social Security Increases",
        style = {"cable_pct_chg": "red",
                 "medincome_pct_chg": "blue"
                 "sscola_pct_chg": "gray"
                })